.margin-top50{
	margin-top: 50px;
}
.logo-contact{
	width: 75px;
	margin-bottom: 50px;
	margin-top: 50px;
}
.fa-linkedin-square{
	font-size: 40px;
	color: #4D6873;
	margin: 30px 10px 50px 10px;
}
.fa-linkedin-square:hover{
	color: #D9B88F;
}
.fa-instagram{
	font-size: 40px;
	color: #4D6873;
	margin: 30px 10px 50px 10px;
}
.fa-instagram:hover{
	color: #D9B88F;
}
.fa-pinterest{
	font-size: 40px;
	color: #4D6873;
	margin: 30px 10px 50px 10px;
}
.fa-pinterest:hover{
	color: #D9B88F;
}
.fa-github-alt{
	font-size: 40px;
	color: #4D6873;
	margin: 30px 10px 50px 10px;
}
.fa-github-alt:hover{
	color: #D9B88F;
}