/*MENU*/
.fa-bars {
  color: #4D6873 !important;
}
.fa-bars:hover {
  color: #F2F0CE !important;
}
/*LOGO*/
.logo {
  width: 80px;
  margin-top: 30px;
  margin-bottom: 30px !important;

}
/*DISEÑADORA INDUSTRIAL - DESARROLLADORA FRONT-END*/
.margin-bot{
	margin-bottom: 280px;
}